.orgForm {
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondaryColor);
    padding: 20px;
    color: var(--txtColor);
}

.createOrgForm, .orgFrmCtrl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createOrgForm {
    width: 100%;
    row-gap: 1.5rem;
}

.orgFrmCtrl {
    row-gap: 10px;
    width: 100%;
    background-color: var(--dashColor);
    border-radius: 10px;
    width: 100%;
    padding: 20px 2rem;
}

.orgFrmCtrl input:not([type="file"]) {
    width: 100%;
    height: 40px;
    outline: none;
    border: 3px solid var(--accentColor);
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color .7s ease-in-out, box-shadow .7s ease-in-out, transform .7s ease-in-out;
}

.orgFrmCtrl input[type="file"] {
    outline: none;
    background-color: var(--accentColor);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color .7s ease-in-out, box-shadow .7s ease-in-out, transform .7s ease-in-out;
}

.orgFrmCtrl select {
    width: 100%;
    height: 40px;
    outline: none;
    border: 3px solid var(--accentColor);
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color .7s ease-in-out, box-shadow .7s ease-in-out, transform .7s ease-in-out;
}

.orgFrmCtrl :is(input[type="file"], select):hover {
    cursor: pointer;
}

.orgFrmCtrl textarea {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    resize: vertical;
    border: 3px solid var(--accentColor);
}

.err-Msg {
    color: red;
    text-align: center !important;
    font-size: 14px;
}

@media (max-width: 575px) {
    .orgFrmSptInfo {
        grid-template-columns: 12fr;
        row-gap: 1rem;
    }
}