.orgList {
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondaryColor);
    padding: 20px;
    color: var(--txtColor);
}

.orgListHead {
    width: 100%;
    text-align: start;
    margin-bottom: 2rem;
}

.organisationInfo, .orgInfoCtrl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.organisationInfo {
    width: 100%;
    row-gap: 1.5rem;
}

.orgInfoCtrl {
    row-gap: 10px;
    width: 100%;
    background-color: var(--dashColor);
    border-radius: 10px;
    padding: 20px 2rem;
}

.orgInpChg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.orgInpChg input {
    width: 90%;
    height: 40px;
    outline: none;
    border: 1px solid var(--accentColor);
    color: var(--txtColor);
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color .7s ease-in-out, box-shadow .7s ease-in-out, transform .7s ease-in-out;
}

.orgInpChg button {
    height: 40px;
    width: 20%;
    border: none;
    border: 3px solid var(--accentColor);
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.optionSlt {
    position: relative;
}

.inpChgOpt {
    width: 18%;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.inpChgOpt span {
    line-height: 30px;
    display: block;
    border-radius: 5px;
    transition: color .7s;
    cursor: pointer;
}

.inpChgOpt span:hover {
    background-color: var(--accentColor);
}

@media (max-width: 575px) {
    .orgInfoCtrl {
        padding: 20px 10px;
    }

    .orgInpChg button {
        width: 120px;
        font-size: 14px;
    }

    .inpChgOpt {
        width: 100%;
    }
}

@media (max-width: 428px) {
    .orgInpChg {
        column-gap: 10px;
    }

    .orgInpChg input {
        width: 80%;
    }

    .orgInpChg button {
        width: 100px;
        font-size: 14px;
    }
}