.documentation {
  display: flex;
  flex-direction: column;
}

.documentation__nav {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 40px;
  color: var(--txtColor);
  position: relative;
  padding-inline: 20px;
}

.documentation__nav__container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  flex-flow: column;
  align-items: flex-start;
  position: relative;
}

.documentation__nav__container::before {
  content: "Documentation";
  font-size: var(--lapParagraph1);
  color: var(--accentColor);
  margin-right: 10px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.documentation__nav__container:active::before {
  color: var(--txtColor);
}

.documentation__nav__container__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: var(--secondaryColor);
  padding: 10px 20px;
  margin-top: 40px;
  left: -100%;
  transition: left 0.3s ease;
}

.documentation__nav__container__links.active {
  left: 0;
}

.documentation__nav__container a {
  color: var(--txtColor);
  text-decoration: none;
  font-size: var(--lapParagraph1);
  transition: color 0.3s ease;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.documentation__nav__container a:hover {
  transform: scale(1.05);
  color: var(--accentColor);
}

.documentation__nav__container a.active {
  color: var(--accentColor);
  font-weight: bold;
}

.documentation__body {
  background-color: var(--accentColor);
  font-family: sans-serif;
  color: var(--txtColor);
  padding: 80px 120px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.documentation__section-title {
  font-size: var(--lapHead1);
  text-align: center;
  margin-bottom: 40px;
  text-align: center;
}

.documentation__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.documentation__sub-title {
  font-size: var(--lapHead3);
  margin-bottom: 20px;
}

.documentation__sub-section__container {
  width: 48%;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--secondaryColor);
  margin-bottom: 20px;
}

.documentation__body :is(p,li) {
  line-height: 1.5rem;
  font-size: var(--lapParagraph1);
  margin-bottom: 20px;
}

.documentation__sub-section-title {
  font-size: var(--lapHead3);
  margin-bottom: 10px;
  text-align: center;
}

.documentation__body :is(ul, ol) {
  list-style: none;
  padding: 0;
  margin: 0;
}

.documentation__body li {
  margin-bottom: 24px;
}

.documentation__body li:before {
  content: "»";
  font-size: 20px;
  color: var(--accentColor);
  margin-right: 10px;
  vertical-align: middle;
}

.documentation__conclusion {
  width: 100%;
  text-align: center;
  font-size: var(--lapcta);
  margin-top: 40px;
}

.documentation__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
  flex-direction: column;
}

.documentation__footer__nav {
  display: flex;
}

.documentation__footer__nav__prev,
.documentation__footer__nav__next {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--accentColor);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.documentation__footer__nav__prev:hover:not(:disabled),
.documentation__footer__nav__next:hover:not(:disabled) {
  transform: scale(1.05);
}

.documentation__footer__nav__prev:disabled,
.documentation__footer__nav__next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.documentation__footer small {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
  .documentation__sub-section__container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .documentation__body {
    padding: 40px 60px;
  }
}

@media (max-width: 480px) {
  .documentation__body {
    padding: 20px 30px;
  }
}