.documentation {
  display: flex;
  flex-direction: column;
}

.documentation__nav {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 40px;
  color: var(--txtColor);
  position: relative;
  padding-inline: 20px;
}

.documentation__nav__container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  flex-flow: column;
  align-items: flex-start;
  position: relative;
}

.documentation__nav__container::before {
  content: "Documentation";
  font-size: var(--lapParagraph1);
  color: var(--accentColor);
  margin-right: 10px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.documentation__nav__container:active::before {
  color: var(--txtColor);
}

.documentation__nav__container__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: var(--secondaryColor);
  padding: 10px 20px;
  margin-top: 40px;
  left: -100%;
  transition: left 0.3s ease;
}

.documentation__nav__container__links.active {
  left: 0;
}

.documentation__nav__container a {
  color: var(--txtColor);
  text-decoration: none;
  font-size: var(--lapParagraph1);
  transition: color 0.3s ease;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.documentation__nav__container a:hover {
  transform: scale(1.05);
  color: var(--accentColor);
}

.documentation__nav__container a.active {
  color: var(--accentColor);
  font-weight: bold;
}

.documentation__body {
  color: #ffffff;
  padding: 0 5rem;
}

.documentation__section-title {
  font-size: var(--lapHead1);
  /* text-align: center; */
  margin-bottom: 40px;
  text-align: center;
}

.documentation__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

.documentation__sub-title {
  font-size: var(--lapHead3);
  margin-bottom: 20px;
}

.doc__integrate__code {
  width: 100% !important;
}

.doc__benefits, .doc__use__cases {
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.doc__use__cases {
  margin-top: 1.5rem;
}

.doc__use, .doc__ben {
  width: 100%;
}

.doc__use__head, 
.doc__ben__head {
  margin: 0 0 5px;
  color: var(--accentColor);
}

/* Integration code open */
.documentation__sub-section__integrate, .integrate__list__instruction, .instruction__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.instruction__cont {
  row-gap: 20px !important;
}

.integrate__title h3 {
  font-size: var(--lapHead3);
}

.integrate__list__instruction {
  row-gap: 15px !important;
}

.no__instruct {
  font-size: 30px;
  font-weight: 600;
  color: var(--accentColor);
}

/* Integration code close */

.documentation__conclusion {
  width: 100%;
  text-align: center;
  font-size: var(--lapParagraph1);
}

.documentation__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0 40px;
  flex-direction: column;
}

.documentation__footer__nav {
  display: flex;
}

.documentation__footer__nav__prev,
.documentation__footer__nav__next {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--accentColor);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.documentation__footer__nav__prev:hover:not(:disabled),
.documentation__footer__nav__next:hover:not(:disabled) {
  transform: scale(1.05);
}

.documentation__footer__nav__prev:disabled,
.documentation__footer__nav__next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.documentation__footer small {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
  .documentation__sub-section__container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .documentation__body {
    padding: 40px 60px;
  }

  .documentation__content {
    row-gap: 4rem;
  }
}

@media (max-width: 428px) {
  .documentation__body {
    padding: 0 20px;
  }
}