.landing-page {
  display: flex;
  flex-flow: column;
  gap: 0;
  background-color: var(--primaryColor);
  min-height: 100vh;
}

#queekk-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
