.globe__container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 500px;
    margin: 0px;
    padding: 0px;
    background: inherit;
    color: rgb(49, 98, 127);
    margin-top: 64px;
}

.globe__canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: hue-rotate(90deg);
}