:root {
  /* COLORS */
  /* DARK MODE */
  --primaryColor: #050609;
  --secondaryColor: #1A1D21;
  --accentColor: #A048D1;
  --gray-light: #bebebe;
  --gray-dark: #919191;

  /* FONTS */
  --lapHead1: 30px;
  --lapHead3: 20px;
  --lapParagraph1: 18px;
  --lapcta: 20px;

  /* mobile size */
  --head1: 30px;
  --head3: 20px;
  --paragraph1: 18px;
  --cta: 20px;

  /* STYLES */
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}